aiogram==2.15
aiohttp==3.7.4.post0
aiohttp-jinja2==1.5
asgiref==3.4.1
async-lru==1.0.2
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
configparser==5.0.2
constants==0.6.0
Cython==0.29.24
Django==3.2.9
gitdb==4.0.9
GitPython==3.1.24
gTTS==2.2.3
heroku3==5.1.4
idna==3.2
Jinja2==3.0.3
MarkupSafe==2.0.1
meval==2.5
multidict==5.2.0
numpy==1.21.4
pandas==1.3.4
pyaes==1.6.1
pyasn1==0.4.8
Pygments==2.10.0
Pyrogram==1.2.20
PySocks==1.7.1
pyTelegramBotAPI==3.8.2
python-dateutil==2.8.2
pythondialog==3.5.3
pytz==2021.3
requests==2.26.0
rich==10.15.2
rsa==4.7.2
six==1.16.0
smmap==5.0.0
speedtest-cli==2.1.3
sqlparse==0.4.2
Telethon==1.24.0
Telethon-Mod==1.24.1
TgCrypto==1.2.3
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
yarl==1.7.0
